@model MenuGen.Core.MenuModel

<style type="text/css">
    #fancyMenu {
        overflow: hidden;
        float: left;
        margin: 0 100px 0 0;
    }

        #fancyMenu > li > a {
            color: white;
            background: gray;
            font-size: 22px;
            text-decoration: none;
            padding: 5px;
            display: block;
            margin: 0 0 10px;
        }

            #fancyMenu > li > a:hover {
                background: #a3a3a3;
            }
            #fancyMenu a.active {
                background: red;
            }
</style>
<ul id="fancyMenu">
    @foreach (var node in Model.MenuNodes)
    {
        <li>
            @Html.DisplayFor(m => node)
            @if (node.ChildMenu != null && node.ChildMenu.MenuNodes != null && node.ChildMenu.MenuNodes.Any())
            {
                @Html.DisplayFor(x => node.ChildMenu, "FancyMenu");
            }
        </li>
    }
</ul>
