@model MenuGen.Models.MenuModel

<ul>
    @foreach (var node in Model.MenuNodes)
    {
        <li>
            @Html.DisplayFor(m => node)
            @if (node.ChildNodes != null && node.ChildNodes != null && node.ChildNodes.Any())
            {
                <ul>
                    @foreach (var childNode in node.ChildNodes)
                    {
                        <li>@Html.DisplayFor(x => childNode)</li>
                    }
                </ul>
            }
        </li>
    }
</ul>
